<div class="content" ng-controller="DashboardCtrl as dashboardCtrl">
	<button class="btn btn-default" ng-click="dashboardCtrl.createLoad()">New Load</button>
	<accordion>
		<accordion-group heading="{{load.date}}'s Load" ng-repeat="load in dashboardCtrl.loads">
			<i class="fa fa-times pull-right" ng-click="dashboardCtrl.deleteLoad(load.date, load.id, $index)"></i>
			<button class="btn btn-default">New Unit</button>
			<ul>
				<li ng-repeat="unit in load.units"></li>
			</ul>
		</accordion-group>
	</accordion>
</div>
